<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Computer Mart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Computer_Mart.styles.css" asp-append-version="true" />
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Computer Mart</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Computers" asp-action="Index"><i class="bi bi-pc"></i> Computers</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-motherboard"></i> Components</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" role="button" asp-area="" asp-controller="CPUs" asp-action="Index"><i class="bi bi-cpu"></i> CPU</a>
                                <a class="dropdown-item" role="button" asp-area="" asp-controller="GPUs" asp-action="Index"><i class="bi bi-gpu-card"></i> GPU</a>
                                <a class="dropdown-item" role="button" asp-area="" asp-controller="RAMs" asp-action="Index"><i class="bi bi-memory"></i> RAM</a>
                                <a class="dropdown-item" role="button" asp-area="" asp-controller="SSDs" asp-action="Index"><i class="bi bi-device-ssd"></i> SSD</a>
                            </div>
                            </li>
                        }
                        
                    </ul>
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <vc:mini-cart></vc:mini-cart>
                        <partial name="~/Views/Shared/_AccountNavPartial.cshtml"></partial>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="bg_wtf_container"><div class="bg_wtf"></div></div>
        
    </header>
    <div class="background_main_grey">
        <div class="container-xxl">
            <h4 class="text-warning text-center">@TempData["Alert"]</h4>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
        
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Computer Mart
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
