@{
	ViewData["Title"] = "Account";
}

<h1>@ViewData["Title"]</h1>

<h4 class="text-secondary">@User.Identity.Name</h4>

<h4 class="pt-3 pb-3">Your Funds: <span>@ViewData["Funds"]</span> <a asp-action="AddFunds" class="btn btn-success btn-sm">+</a></h4>

<a asp-controller="Orders" asp-action="Index" class="btn btn-dark">View Orders</a>
<a asp-action="Logout" class="btn btn-danger">Logout</a>