
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="text-center pt-5">
    <div class="p-1 bg_bright">
        <h1 class="display-4">Welcome to Computer Mart</h1>
    </div>
    <div class="p-3 bg_bright">
        <h4><a class="btn btn-primary" asp-controller="Computers" asp-action="Index">Click here</a><span class="ps-2"> to begin shopping!</span></h4>
    </div>
    
</div>
